.c-navigation {
  ul {
    margin: 0;
    @include query($desktop_trigger) {
      overflow: auto;
    }
  }
  li {
    @include query($desktop_trigger) {
      float: left;
      margin-right: $grid_gutter;
    }
  }
  a {
    display: block;
    color: $primary_color;
    text-decoration: none;
  }
}